extends master
block content
	form(action="/" method="post" id="agregar-url")
		legend Añade tu URL en el siguiente campo
		.campo
			input(type="url" name="urlOriginal" id="urlOriginal" placeholder="Añade tu URL" required)
		.campo
			input(type="submit", value="Acortar" class="btn")